// .swiper-container{
//   width:100%;
//   height: 450px;
// }
.swiper-img{
  width: 100%;
  height:400px  !important;
}
.at-grid{
 width:100% !important;
 height:0rem !important;
}
// .at-noticebar{
//   margin-top:0.2rem;
// }
// .at-grid{
//   margin-top:0.2rem;
// }